body{
    background-image: url(Bilder/Darkwood.jpg);
    background-size: cover;
}

.nav{
    display: flexbox;
    flex-direction: row;
}
.div-video{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.video-main{
    width: 60%;
    height: 60%;
    margin: 2rem;
}