body{
    background-image: url(Bilder/Darkwood.jpg);
    background-size: cover;
}

.main-title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}

.index-text{
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.nav{
    display: flexbox;
    flex-direction: row;
}
.div-video{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.video-main{
    width: 60%;
    height: 60%;
    margin: 2rem;
}