.accordion-main{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}
.accordion{
    width: 80%;
    height: 80%;
}
.accordion-img{
    height: 20%;
    width: 20%;
    padding-right: 2rem;
    padding-top: 1rem;
}
.dropdown-menu .dropdown-menu-end { 
    right: 0; 
    left: auto; 
}

.scrollspy{
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
#scrollspyHeading1{
    margin-top: 5rem;
}
#scrollspyHeading2{
    margin-top: 5rem;
}
#scrollspyHeading3{
    margin-top: 5rem;
}
#scrollspyHeading4{
    margin-top: 5rem;
}

.sponsor-images{
    display: flexbox;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.sponsor-gold{
    display: flexbox;
    flex-direction: row;
    justify-content: center;
}
.reg-sponsor{
   
    object-fit: cover;
    margin-right: 5rem;
    margin-bottom: 3rem;    
}

p{
    
}